/* -----------------------------------
        Grid structure
   ----------------------------------- */

.e-wrapper {
    display: grid;

    grid-template-columns: [left-col] 25% [main-col] 75%;
    grid-template-rows: [top-row] 100px [main-row] auto [footer-row] 100px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;

    /* grid-template-columns: 25% 75%;
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer"; */
    max-width: 1200px;
    margin: 0 auto;
}

.e-header {
    background: #6195ED;
    /* grid-area: "header"; */
    grid-column-start: left-col;
    grid-column-end: span 2;
    grid-row-start: top-row;
    grid-row-end: main-row;
}

.e-main {
    background: #EDA661;
    /* grid-area: "main"; */
    grid-column-start: main-col;
    grid-column-end: span 1;
    grid-row-start: main-row;
    grid-row-end: footer-row;
}

.e-sidebar {
    background: #ED61C1;
    /* grid-area: "sidebar"; */
    grid-column-start: left-col;
    grid-column-end: main-col;
    grid-row-start: main-row;
    grid-row-end: footer-row;
}

.e-footer {
    background: #8761ED;
    /* grid-area: "footer"; */
    grid-column-start: left-col;
    grid-column-end: span 2;
    grid-row-start: footer-row;
    grid-row-end: span 1;
}

